[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jpholiday = ">=1.0.3"
mcp = ">=1.26.0"
pymupdf = ">=1.24.0"
pyyaml = "*"
pywin32 = { version = "*", markers = "sys_platform == 'win32'" }
weasyprint = "*"

[dev-packages]
python-lsp-server = { version = "*", extras = ["all"] }
python-lsp-black = "*"
pyls-isort = "*"

[requires]
python_version = "3.10"
